.custom-navbar {
  background-color: #008080; 
    padding: 10px 20px;
  }
  
  .custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color:white !important;
  }
  
  .custom-navbar .nav-link {
    color: white !important;
    font-size: 1.4rem !important;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
  }
  
  
  
  .custom-navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  @media (max-width: 992px) {
    .custom-navbar .nav-link {
      text-align: left !important;
      font-size: 1.3rem !important;
   
    }
  }
  